$color-bg:#10101D;
$color-black: #000000;
$color-dark: #272733;
$color-white: #fff;
$color-add: #42A9ED;
$dark-blue: #286690;
$color-light-grey: #C3C3C3;
$color-grey: #C4C4C4;
$color-dark-grey: #BBBBBB;

