.header {
  position: relative;
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__row {
  margin: 0 auto;
  max-width: 1172px;
  padding: 44.5px 0 39.5px 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  @media (max-width: 1199px) {
    padding: 44.5px 20px 39.5px 20px;
  }
  @media (max-width: 992px) {
    max-width: 100%;
    padding: 20px;
  }
}

.logo {
  font-weight: 900;
  font-size: 28px;
  @media (max-width: 992px) {
    font-size: 23px;
  }
  @media (max-width: 575px) {
    font-size: 20px;
  }
}
.color-add {
  color: $color-add;
}
.nav {
  @media (max-width: 768px) {
    display: none;
  }
}

.nav__items {
  display: flex;
  column-gap: 60px;
  @media (max-width: 992px) {
    column-gap: 30px;
  }
}

.nav__link {
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

.nav__item:hover .nav__link {
  color: $color-add;
  transition: all 0.5s ease-in;
}
